%defaultButton{
    border: none;
    border-radius: 10px;
    padding: 10px;
}

@mixin defaultButton{
    border: none;
    border-radius: 10px;
    padding: 10px;
}

@mixin blockEL($block:'', $element:''){
    .#{$block}{
        &-#{$element}{
            @include defaultButton;
            @content;
        }
    }
}

@include blockEL('btn', 'danger'){
    @include defaultButton;
    background: red;
}

@include blockEL('btn', 'primary'){
    @extend %defaultButton;
    background: blue;
}


@include blockEL('btn', 'warning'){
    @extend %defaultButton;
    background: yellow;
}
